@page "/index"
@using BlazorApp1.Models
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<HeadContent>
    <link rel="stylesheet" href="@Assets["css/font/quicksand.css"]"/>
</HeadContent>

<div class="pizza-page">
    <h1>Blazing Pizzas</h1>
    <ul class="pizza-cards">
        @if (_specials.Any())
        {
            @foreach (var special in _specials)
            {
                <li style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<PizzaSpecial> _specials = new();

    protected override async Task OnInitializedAsync()
    {
        _specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }

}
